html, body, .container, .row {
  height: 100%;
}

body {
  background-color: cadetblue;
  transition: background 2s ease;
}

button {
  float: right;
  margin-bottom: 1rem;
}

i {
  font-size: 2.5em;
}

/* Overriding Boostrap classes */
.row {
  justify-content: center;
  align-content: center;
}

.col-lg-6 {
  padding-right: 0px;
  padding-left: 0px;
}

.btn-outline-primary:hover {
  background-color: azure;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
  /*box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);*/
  box-shadow: 0 0 0 0;
}

#quoteBlock {
  background: azure;
}

